<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>sorting</title>
</head>
<body>

    <div id="intro">
        <h1>Sorting Algorithm Visualizer</h1>
        <p>Choose from any of these sorting algorithms!</p>
    </div>

    <div id="algorithmForm">
        <form action=""></form>
        <label for="algoType">Choose algorithm to visualize:</label>
        <select name="algoType" id="algoType">
            <option value="bubble">Bubble Sort</option>
            <option value="bucket">Bucket Sort</option>
            <option value="counting">Counting Sort</option>
            <option value="cycle">Cycle Sort</option>
            <option value="heap">Heap Sort</option>
            <option value="insertion">Insertion Sort</option>
            <option value="intro">Intro Sort</option>
            <option value="merge">Merge Sort</option>
            <option value="pigeonhole">Pigeonhole Sort</option>
            <option value="quick">Quick Sort</option>
            <option value="radix">Radix Sort</option>
            <option value="selection">Selection Sort</option>
            <option value="three-way-merge">Three Way Merge Sort</option>
            <option value="tim">Tim Sort</option>
        </select>


    </div>

    <div id="inputForm">
        <form action="index.html">
            <label for="userEntry">Enter the number of elements: </label>

            <input 
                type="number" 
                id="userEntry" 
                placeholder="e.g. 40, 50, 100..."
                min="1"
                max="500"
            >
            <button id="submit">Generate!</button>
        </form>
    </div>

    <div class="sketchWrapper">
        <div id="sketch-container"></div>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.dom.js"></script>
    <script src="../static/js/global.js"></script>
</body>
</html>